@import './bootstrap/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


body {
	background: url('images/checker-tile.png');
	overflow: hidden;
}

.menu {
	background: #12131A;
	height: 100%;
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
}