@import './bootstrap/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


body {
	background: url('images/checker-tile.png');
	overflow: hidden;
}

.menu {
	background: #12131A;
	height: 100%;
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;

	.category {
		.list-unstyled;
		font-size: 16px;
		color: #BABABA;
		font-weight: 300;
		cursor: pointer;
		border-bottom: 3px solid black;
		margin-bottom: 5px;
		padding-bottom: 5px;

		&:last-child {
			border-bottom: 0;
		}

		.title {
			padding: 5px 10px;
		}

		.item {
			padding: 5px 10px;
			font-weight: 400;
			color: #EBEBEB;

			&.active {
				background-color: rgba(239,255,191,0.3);

				&.selected {
					background-color: rgba(239,255,191,1);
					color: #111111;
				}
			}
		}
	}
}